 #caixa{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
 }

hr{
    margin-top: 0px;
}

 #nome{
    margin: 0px;
 }

 .texto-clicavel {
    background: none;     
    border: none;           
    padding: 0;                  
    cursor: pointer;       
    transition: color 0.5s ease, text-decoration 0.3s ease;          
}

.texto-clicavel:hover{
    text-decoration: underline;
    color: darkblue;
}

#btnBack{
    background-color: transparent;
    border: none;
}