// codigo CSS das informações do usuario
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userSeguidores{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

#caixaUser{
    margin-top: 30px;
}

#caixaUser>p{
    margin-bottom: 5px;
}

#postagens{
    display: flex; 
    flex-direction: column;
    width: 50%;
}

#postComponente{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    border-top-left-radius: 0px;
    width: 100%;
}

#iconeGrade{
    margin: 7px;
    transform: scale(1.4);
}

#divIcone{
    padding: 5px;
    border: 1px black solid;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: max-content;
    height: max-content;
}

// codigo CSS da lista de postagens
#userName{
    padding-top: 10px;
}

#userName>p{
    margin: 0px;
}

#boxConteudo{
    display: flex;
    flex-direction: column;

}

#titulo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

#conteudo{
    font-family: 'Open Sans', sans-serif;
}

#btns{
    align-self:flex-end;
}

#btnEditar{
    border: none;
    background-color: rgba(240, 248, 255, 0);
}

#btnEditar:hover{
    color: green;
}

#btnExcluir{
    border: none;
    background-color: rgba(240, 248, 255, 0);
}

#btnExcluir:hover{
    color: red;
}

#boxFunction{
    display: flex;
    justify-content: space-between;
}

.texto-clicavel {
  background: none;     
  border: none;           
  padding: 0;            
  margin: 0px 15px 0px 15px;       
  cursor: pointer;        
  transition: color 0.5s ease, text-decoration 0.3s ease;          
}

.texto-clicavel:hover{
    text-decoration: underline;
    color: darkblue;
}