#caixa{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#searchBar{
    width: 300px;
    height: 20px;
    border: 1px solid black;
    align-self: center;
}

#divEsquerda, #divCentro, #divDireita{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#divEsquerda{
    position: sticky;
    align-items: center;
}

#divCentro{
    overflow-y: auto;
}

#userInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}

#divEsquerda>#userInfo>p{
    margin: 0px;
}

#divDireita{
    position: sticky;
    align-items: center;
}

#novaPubli{
    width: 300px;
    height: 30px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: border 0.3s ease, transform 0.3s ease;
}

#novaPubli:hover{
    border: rgb(0, 216, 0) 3px solid;
    transform: scale(1.3);
}

.texto-clicavel {
  background: none;     
  border: none;           
  padding: 0;            
  margin: 0;       
  cursor: pointer;        
  font: inherit;          
}