<div id="caixa">
    <div id="divEsquerda">
        <!-- <img id="logo" src="assets/IMG/Logo.png"> -->
        <div id="userInfo">
            <p>{{usuario?.nome}}</p>
            <button class="texto-clicavel" (click)="navegarPerfilPage()">
                @{{usuario?.userName}} 
            </button>
        </div>
    </div>
    <div id="divCentro">
        <div class="mb-3" id="searchBar">
            <input type="text" class="form-control" id="inputTitulo" [(ngModel)]="termoPesquisa" name="termoPesquisa" autocomplete="off" placeholder="pesquisa">
            <div id="searchResult" *ngFor="let u of usuariosFiltrados">
                
                <button class="texto-clicavel" (click)="navegarPerfilUserFiltrado(u.id)">
                    @{{u?.userName}} 
                </button>
            </div>
        </div>
        <div>
            <app-listar-postagem-seguidos></app-listar-postagem-seguidos>
        </div>
    </div>
    <div id="divDireita">
        <button id="novaPubli" (click)="irParaCadastrar()">Nova Publicação</button>
    </div>
</div> 