<div id="caixa">
    <div id="divEsquerda">
        <div id="userInfo">
            <p>{{usuario?.nome}}</p>
            <button class="texto-clicavel" (click)="navegarPerfilPage()">
                @{{usuario?.userName}} 
            </button>
        </div>
    </div>
    <div id="divCentro">
        <div id="searchBar">
            <p>Barra de Pesquisa</p>
        </div>
        <div>
            <app-listar-postagem-seguidos></app-listar-postagem-seguidos>
        </div>
    </div>
    <div id="divDireita">
        <button id="novaPubli" (click)="irParaCadastrar()">Nova Publicação</button>
    </div>
</div>