#caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInfo>h1{
    margin: 15px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

#caixaUser>p{
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#postagens{
    display: flex; 
    flex-direction: column;
    width: 50%;
}
#postagens>app-listar-postagem{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

#iconeGrade{
    margin: 7px;
    transform: scale(1.4);
}

#divIcone{
    padding: 5px;
    border: 1px black solid;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: max-content;
    height: max-content;
}

#userSeguidores{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    margin-bottom: 0px;
}

.texto-clicavel {
    background: none;     
    border: none;           
    padding: 0;            
    margin: 0px 15px 0px 15px;       
    cursor: pointer;       
    transition: color 0.5s ease, text-decoration 0.3s ease;          
}

.texto-clicavel:hover{
    text-decoration: underline;
    color: darkblue;
}

#btnBack{
    background-color: transparent;
    border: none;
}