#caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInfo>h1{
    margin: 15px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

#userInfo>p{
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#postagens{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#postagens>app-listar-postagem{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

#postagens>h1{
    font-size: 25px;
    font-weight: 400;
}