.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#boxLogin{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    margin-top: 100px;
    padding: 20px;
    height: 100%;
    width: 300px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}