#caixa{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#boxLogin{ 
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 20px;
  height: 100%;
  width: 300px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

#btnEntrar{
  align-self: center;
  width: 100%;
}

#textoClicavel{
  color: #3498db;
  background-color: transparent;
  border: none;
  margin: 10px;
  padding: 0px;
  cursor: pointer;
  transition: color 0.5s ease, text-decoration 0.3s ease;
}

#textoClicavel:hover{
  text-decoration: underline;
  color: darkblue;
}