#boxUsuario{ 
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  margin-top: 100px;
  padding: 20px;
  height: 100%;
  width: 400px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

#boxSenha{
    display: flex;
}

#toggleSenha{
    border: none;
    background-color: transparent;
}

.alerta{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    border: 2px solid green;
    border-radius: 15px;
    margin: 20px;
}

#msgAlerta{
    font-size: 15px;
    text-align: center;
}