<div *ngFor="let p of postagens" id="postagem">
  <!-- topo com o userName do usuario logado -->
  <div id="userName">
    <p>@{{usuario?.userName}}</p>
  </div>
  <!-- seção de conteudo -->
  <div id="boxConteudo">     
      <div id="titulo">
        <p>{{p.titulo}}</p>
      </div>
    
      <div id="boxFunction">

        <div id="conteudo">
          <p>{{p.conteudo}}</p>
        </div>
        <div id="btns">
          <button id="btnEditar" mat-icon-button color="primary" (click)="Editar(p.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button id="btnExcluir" mat-icon-button color="warn" (click)="Excluir(p.id)">
            <mat-icon>delete</mat-icon> 
          </button>
        </div>
        
      </div>

  </div>
  <hr>
</div>