#userName{
    padding-top: 10px;
}

#userName>p{
    margin: 0px;
}

#titulo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

#conteudo{
    font-family: 'Open Sans', sans-serif;
}