#caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputTitulo{
    width: 300px;
}

#inputConteudo{
    width: 300px;
    height: 200px;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #ced4da;
    border-radius: 0.375rem; 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#inputConteudo:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;          
    outline: 0;                     
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25); 
}

button{
    width: 100px;
}