#boxUsuario{ 
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  margin-top: 100px;
  padding: 20px;
  height: 100%;
  width: 400px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}